@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--bs-gray-100);
}

.center-vertical{
    padding-top: 35vh;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    align-items: center;
}

.clear{
    clear:both;
}